<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyVue</title>
</head>
<body>
    <div id="wrap">
        {{obj.test}}
			<button @click="changeTestValue">改变obj.test值</button>
			<p v-html="htmlStr"></p>
        <input type="text" v-model="form">
        <input type="text" v-model="form">
        <button @click="changeFormValue">改变值</button>
        {{form}}
    </div>
    <script src="./index.js"></script>
    <script>
        new Vue({
            el: '#wrap',
            data:{
                form: '这是form的值',
              	htmlStr: '<strong>我是粗体</strong>',
                obj:{
                    test:123
                }
            },
            methods:{
              changeFormValue(){
                console.log(this.form)
                this.form = '值被我改变了，气不气？'
              },
              changeTestValue(){
                this.obj.test = '456'
              }
            }
        })
    </script>
</body>
</html>
